@charset "utf-8";

body {
	margin: 9px;
	color: #151515;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #EFF5F8;
	font-size: medium;
}

#wrapper {
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	right: 0px;
	position: static;
	border-radius: 8px;
}

#top {
 overflow: hidden;
}

#hero img {
	max-width: 100%;
	border-color: #FFFCFC;
	border-radius: 10px;
	background-position: 0% 0%;
	box-shadow: 10px 10px 5px #888888;
	margin:10px 10px 0px 0px;
	right: 0px;
}
h1, h2 {
	color: #3399CC;
	font-family: Tahoma;
	font-style: normal;
	font-weight: 600;
	font-size: 72px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
	top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	right: 33px;
}
#main {
	width: 58%;
	margin-left: 2%;
	float: left;
}
#sidebar {
	width: 34%;
	margin-left: 4%;
	float: left;
	text-align: center;
	border-radius: 4px;
	font-size: medium;
}

form {
    width: 300px;
    margin: 0 auto;
}


figure {
	display: block;
	width: 420px;
}

figure img {
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
}

figcaption {
	font-size: 0.875em;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top: 0.5em;
	margin-right: auto;
	margin-left: auto;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.floatleft {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
}

.floatright {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}

footer {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	/*background-color: #43a6cb;
	color: #FFFFFF;*/
	clear: left;
	text-align: center;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color: #636387;
}

a:visited {
	color: #FF944C;
}

a:hover, a:active, a:focus {
	color: #7F3300;
	text-decoration: underline;
}
#mainnav ul {
	box-shadow:10px 10px 10px 5px #888888;
	list-style-type: none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.nav{
	margin:2px 0px 0px 0px;
}
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
#mainnav a {
	width: 16.66%;
	display: block;
	text-align: center;
	text-transform: uppercase;
	background-color: #4d4d4d;
	float: left;
	color: #FFFCFC;
	padding-top: 6px;
	padding-bottom: 6px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav thispage {
	background-color: #43A6CB;
	text-decoration: none;
}
#hero article {
	width: 36%;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 25px;
	right: 33px;
	background-color: #EA724F;
	border-radius: 26px;
	color: #FFFCFC;
}
#hero {
	position: relative;
	border-radius: 30px;
}
#hero {
	color: #FFFCFC;
	text-transform: uppercase;
	margin-bottom: -8px;
}
